<header>
    <h1>Sistema Financeiro Profissional</h1>
    <form action="/buscar" method="get">
        <label for="campoBusca">Pesquisar</label>
        <input type="search" id="campoBusca" name="q" placeholder="Digite sua busca">
        <button type="submit">Buscar</button>
    </form>
    <nav class="menu-navegacao">
        <ul>
            <li><a href="https://www.calculadoraonline.com.br/basica">Calculadora</a></li>
            <li><a href="https://www.google.com/search?q=Valor+do+D%C3%B3lar&sca_esv=70aa846ced6b4820&sxsrf=ANbL-n57aJs6I325JBBNrlsUD6LgJwEAaA%3A1780427035276&ei=Gykfaq3MEJrc1sQP_cCmuA4&biw=1920&bih=945&ved=0ahUKEwjtxfHHn-mUAxUarpUCHX2gCecQ4dUDCBA&uact=5&oq=Valor+do+D%C3%B3lar&gs_lp=Egxnd3Mtd2l6LXNlcnAiD1ZhbG9yIGRvIETDs2xhcjINEAAYgAQYsQMYggIYRjIIEAAYgAQYsQMyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIZEAAYgAQYsQMYggIYRhiXBRiMBRjdBNgBAUiXHVDSA1ifD3ABeAGQAQCYAf0BoAHKBqoBBTAuNS4xuAEDyAEA-AEBmAIHoAKlCMICChAAGEcY1gQYsAPCAg0QABiABBiKBRhDGLADwgIOEAAY5AIY1gQYsAPYAQHCAhcQLhjcBhi4BhjaBhjYAhjIAxiwA9gBAcICDxAjGIAEGIoFGCcYggIYRsICDRAAGIAEGBQYhwIYsQPCAhkQABiABBiKBRiCAhhGGJcFGIwFGN0E2AEBmAMAiAYBkAYTugYGCAEQARgJkgcFMS41LjGgB-4msgcFMC41LjG4B_IHwgcHMy0xLjUuMcgHvwGACAE&sclient=gws-wiz-serp">Valor do Dólar</a></li>
            <li><a href="https://www.google.com/search?q=Valor+do+Iene&sca_esv=70aa846ced6b4820&biw=1920&bih=945&sxsrf=ANbL-n5EijH3GrlVkkcW1Lb9bBL85GBMEg%3A1780427043284&ei=IykfavSREJul1sQP98T9sA4&ved=0ahUKEwi0r9nLn-mUAxWbkpUCHXdiH-YQ4dUDCBA&uact=5&oq=Valor+do+Iene&gs_lp=Egxnd3Mtd2l6LXNlcnAiDVZhbG9yIGRvIEllbmUyChAAGIAEGIICGEYyBRAAGIAEMgUQABiABDIFEAAYgAQyChAAGIAEGBQYhwIyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIWEAAYgAQYggIYRhiXBRiMBRjdBNgBAUjfCFC6BVjXB3ACeAGQAQCYAXagAbgDqgEDMC40uAEDyAEA-AEBmAIGoAKrBMICChAAGEcY1gQYsAPCAg0QABiABBiKBRhDGLADwgIOEAAY5AIY1gQYsAPYAQHCAhcQLhjcBhi4BhjaBhjYAhjIAxiwA9gBAcICCBAAGIAEGLEDmAMAiAYBkAYTugYGCAEQARgJkgcDMi40oAfoFrIHAzAuNLgH8APCBwcyLTEuMy4yyAdfgAgB&sclient=gws-wiz-serp">Valor do Iene</a></li>
            <li><a href="https://www.ecalculos.com.br/utilitarios/calcjuros.php">Calculo de Juros</a></li>
        </ul>
    </nav>
</header>